header{
    width:100%;
    height: 30rem;
    background:url('../../images/image-hero-mobile.jpg') no-repeat center center;
    background-size: cover;
    .header__container{
        width:100%;
        max-width: 110rem;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:3.2rem 2.4rem 0;
    }
    .header__brand{
        z-index: 20;
        img{
            width: auto;
            height:2rem;
        }
    }
    .header__toggle-btn{
            width: 1.8rem;
            height:1.8rem;
            z-index: 20;
            background: url('../../images/icon-hamburger.svg') no-repeat center center;
            background-size: cover;
            border:none;
            outline: none;
            display:block;
            cursor: pointer;
            &.active{
                background:url('../../images/icon-close-menu.svg') no-repeat center center;
            }
        }
}
@media screen and(min-width:$md-screen){
    header{
       background:url('../../images/image-hero-desktop.jpg') no-repeat center center;
       height:40rem;
       .header__toggle-btn{
           display: none;
       }
       .header__container{
           padding:4.6rem 0;
       }
       .header__brand{
           padding:0 2.4rem;
       }
    }
}