$font-primary: 'Commissioner', sans-serif;

$color-cyan: hsl(176, 50%, 47%);
$color-cyan-dark:hsl(176, 72%, 28%);
$color-black:hsl(0, 0%, 0%);
$color-gray-dark:hsl(0, 0%, 48%);
$color-gray: #DBDBDB;
$color-light-gray:#FAFAFA;

$sm-screen: 576px;
$md-screen:768px;
$lg-screen:1140px;